*.pdb
*.dill
.dart_tool/
build/
windows/flutter/ephemeral/
.flutter-plugins-dependencies
Revamp_UIUX/
reference/
*.db
static/generate_result/
static/templates/laporan/
static/templates/kupon/
coverage/